body {
    background-color: #00CCFF;    
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-image: linear-gradient(to bottom right, #005266, #99EBFF);
    border: solid 3px #002933;
    border-radius: 10px;
    width: 98%;
    padding: 5px; 
    text-align: center;   
}

h1 {
    color: #E6FAFF;
    margin: 0;
    font-family: 'Paytone One', sans-serif;
    font-size: 50px;
}

h1::before {
    content: '♫♪';
    margin: 20px;
}

h1::after {
    content: '♪♫';
    margin: 20px;
}

.overview {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "S F"
    "S D" 
    "S C"   
    "S V"
    "S .";
    width: 98%;
}

.songs {
    grid-area: S;
    list-style-type: none;
    padding: 1px;
    margin: 10px;
    width: 95%;
    border: 3px solid #002933;
    border-radius: 10px;
    background-color: #B3F0FF;
}

.songs li {
    display: grid;
    grid-template-columns: 6fr 4fr 3fr 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 100%;
}

.songs li p {
    margin: 5px;
}

.songs li:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.songs li:nth-child(even) {
    background-color: #CCF5FF;
}

.invoer {
    grid-area: F;
    background-color: #006680;
    border: solid 3px #002933;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    margin: 10px;
    margin-right: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.invoer input {
    width: 172px;
}

.invoer select {
    width: 180px;
}

.invoer button {
    background-color: #66E0FF;
    width: 180px;
    margin: 15px 0px;
    font-size: 25px;
    cursor: pointer;
}

.invoer button:hover {
    background-color: #CCF5FF;
}

.leegmaken {
    grid-area: D;
    background-color: #006680;
    border: solid 3px #002933;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    width: 90%;
    text-align: center;
}

.leegmaken button {
    background-color: #66E0FF;
    width: 180px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}

.leegmaken button:hover {
    background-color: red;
}

.genre {
    grid-area: C;
    background-color: #006680;
    border: solid 3px #002933;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    width: 90%;
    text-align: center;
}

.genre p {
    color: #B3F0FF;
    font-size: 22px;
    margin: 10px;
}

.genre select {
    width: 180px;
}

.sortering {
    grid-area: V;
    background-color: #006680;
    border: solid 3px #002933;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    width: 90%;
    text-align: center;
}

.sortering p {
    color: #B3F0FF;
    font-size: 22px;
    margin: 10px;
}

.sortering select {
    width: 180px;
}

.footer {
    font-size: 12px;
    text-align: center;
    background-color: #006680;
    background-image: linear-gradient(to bottom right, #99EBFF, #005266);
    border: solid 3px #002933;
    color: #CCF5FF;
    border-radius: 10px;
    padding: 5px;
    width: 98%;
}