body {
    background-color: #00CCFF;    
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-image: linear-gradient(to bottom right, #005266, #99EBFF);
    border: solid 3px #002933;
    border-radius: 10px;
    width: 98%;
    padding: 5px; 
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "H"
    "L";
    align-items: center;
}

.links {
    grid-area: L;
    list-style-type: none;
    font-size: 18px;
    color: #CCF5FF;
    padding: 0px 20px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links li {
    margin: 5px 0px;
}

a {
    text-decoration: none;
    color: #CCF5FF;
}

a:hover {
    color: #00CCFF;
}

h1 {
    grid-area: H;
    color: #E6FAFF;
    margin: 0;
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
    text-align: center;
}

.overview {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "F"
    "S" 
    "D"   
    "C"
    "V";
    width: 98%;
}

.songs {
    grid-area: S;
    list-style-type: none;
    padding: 1px;
    margin: 10px;
    width: 95%;
    border: 3px solid #002933;
    border-radius: 10px;
    background-color: #B3F0FF;
}

.songs li {
    display: grid;
    grid-template-rows: auto auto auto auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 100%;
}

.songs li p {
    margin: 5px;
}

.songs li:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}

.songs li:nth-child(even) {
    background-color: #E6FAFF;
}

.invoer {
    grid-area: F;
    background-color: #006680;
    border: solid 3px #002933;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    margin: 10px;
    margin-right: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.invoer input {
    width: 172px;
}

.invoer select {
    width: 180px;
}

.invoer button {
    background-color: #66E0FF;
    width: 180px;
    margin: 15px 0px;
    font-size: 25px;
    cursor: pointer;
}

.invoer button:hover {
    background-color: #CCF5FF;
}

.leegmaken {
    grid-area: D;
    background-color: #006680;
    border: solid 3px #002933;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    width: 90%;
    text-align: center;
}

.leegmaken button {
    background-color: #66E0FF;
    width: 180px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}

.leegmaken button:hover {
    background-color: red;
}

.genre {
    grid-area: C;
    background-color: #006680;
    border: solid 3px #002933;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    width: 90%;
    text-align: center;
}

.genre p {
    color: #B3F0FF;
    font-size: 22px;
    margin: 10px;
}

.genre select {
    width: 180px;
}

.sortering {
    grid-area: V;
    background-color: #006680;
    border: solid 3px #002933;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    width: 90%;
    text-align: center;
}

.sortering p {
    color: #B3F0FF;
    font-size: 22px;
    margin: 10px;
}

.sortering select {
    width: 180px;
}

.about {
    width: 80%;
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    color: #002933;
}

.fotos {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.footer {
    font-size: 12px;
    text-align: center;
    background-color: #006680;
    background-image: linear-gradient(to bottom right, #99EBFF, #005266);
    border: solid 3px #002933;
    color: #CCF5FF;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 98%;
}

@media (max-width: 699px) {
    .songs li:nth-child(1) {
        display: none;
    }  
    .songs li {
        border-top: solid 1px #002933;
    }  
    .songs li p:nth-child(1)::before {
        content: "Titel: ";
        font-weight: bold;
    }
    .songs li p:nth-child(2)::before {
        content: "Artiest: ";
        font-weight: bold;
    }
    .songs li p:nth-child(3)::before {
        content: "Genre: ";
        font-weight: bold;
    }
    .songs li p:nth-child(4)::before {
        content: "Sterren: ";
        font-weight: bold;
    }
}

@media (min-width: 700px) {    
    h1::before {
        content: '♫♪';
        margin: 20px;
    }    
    h1::after {
        content: '♪♫';
        margin: 20px;
    }
    .overview {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "F ."
        "F D"
        "S S" 
        "C V";
    } 
    .songs li {
        grid-template-columns: 6fr 4fr 3fr 80px;
        grid-template-rows: 1fr;
    }
    .songs li:nth-child(even) {
        background-color: #CCF5FF;
    }    
}

@media (min-width: 1000px) {
    .header {
        grid-template-columns: 80px auto;
        grid-template-areas: 
        "L H";
    }
    .links {
        flex-direction: column;
    }
    h1 {
        font-size: 50px;
    }
    .overview {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
        "S F"
        "S D" 
        "S C"   
        "S V"
        "S .";
    }    
}